In [1]:
# Examples of data type
a = 12
print(type(a))
b = 12.34
print(type(b))
c = "Raman"
print(type(c))
d = True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
result = "Raman" + 12

TypeError: can only concatenate str (not "int") to str

In [3]:
result = "Raman" + str(12)
print(result)

Raman12

# Operators

In [4]:
a = 10
b = 4
print(a/b)
print(a//b)

2.5
2

# Control flow

In [8]:
# break , continue , pass operation
for i in range(10):
    if i > 5:
        break
    print(i)

0
1
2
3
4
5

In [9]:
for i in range(1,10):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

In [11]:
for i in range(5):
    if(i%2==0):
        pass
    print(i,end = " ")

0 1 2 3 4

# Data structures with python

In [12]:
lst = []
print(type(lst))

<class 'list'>

In [20]:
lst = ["raman",9,True,12,12.34]
print(lst)

['raman', 9, True, 12, 12.34]

In [14]:
print(lst[1:])

[9, True, 12, 12.34]

In [15]:
print(lst[1:3])

[9, True]

In [16]:
lst[0] = "RamanSingh"
print(lst)

['RamanSingh', 9, True, 12, 12.34]

In [19]:
lst[3:] = "RamanSingh"
print(lst)

['raman', 9, True, 'R', 'a', 'm', 'a', 'n', 'S', 'i', 'n', 'g', 'h']

In [27]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [35]:
fruits.append('banana')
fruits

['apple', 'cherry', 'cherry', 'cherry', 'kiwi', 'gauva', 'banana']

In [30]:
fruits.insert(2,'cherry')
fruits

['apple', 'banana', 'cherry', 'cherry', 'cherry', 'kiwi', 'gauva', 'banana']

In [34]:
fruits.remove('banana')

In [36]:
fruits

['apple', 'cherry', 'cherry', 'cherry', 'kiwi', 'gauva', 'banana']

In [37]:
popped_fruits = fruits.pop()
print(popped_fruits)

banana

In [39]:
fruits

['apple', 'cherry', 'cherry', 'cherry', 'kiwi', 'gauva']

In [40]:
print(fruits.remove('cherry'))
fruits

None

['apple', 'cherry', 'cherry', 'kiwi', 'gauva']

In [41]:
print(fruits.index('cherry'))

1

In [42]:
print(fruits.count('cherry'))

2

In [43]:
fruits.sort()
fruits

['apple', 'cherry', 'cherry', 'gauva', 'kiwi']

In [52]:
fruits.reverse()

In [53]:
fruits

['kiwi', 'gauva', 'cherry', 'cherry', 'apple']

In [54]:
lst = []
for i in range(1,11):
    lst.append(i)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
print(lst[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
lst[::-2]

[10, 8, 6, 4, 2]

In [57]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
# enumerate
for i in enumerate(lst):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [60]:
for i,j in enumerate(lst):
    print(i,end=" ")
    print(j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [61]:
lst = [x**2 for x in lst]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
even_numbers = [x for x in range(1,21) if x % 2 == 0]
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
# Pair list
l1 = [1,2,3,4,5]
l2=[2,4,6,8,10]
l3 = [[x,y] for x in l1 for y in l2]
l3

[[1, 2],
 [1, 4],
 [1, 6],
 [1, 8],
 [1, 10],
 [2, 2],
 [2, 4],
 [2, 6],
 [2, 8],
 [2, 10],
 [3, 2],
 [3, 4],
 [3, 6],
 [3, 8],
 [3, 10],
 [4, 2],
 [4, 4],
 [4, 6],
 [4, 8],
 [4, 10],
 [5, 2],
 [5, 4],
 [5, 6],
 [5, 8],
 [5, 10]]

In [67]:
# Length of words
print(fruits)
length = [len(x) for x in fruits]
length

['kiwi', 'gauva', 'cherry', 'cherry', 'apple']

[4, 5, 6, 6, 5]

# Tuples

In [68]:
tpl = ()
print(type(tpl))
lst = list()
print(type(lst))
tp = tuple()
print(type(tp))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [69]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [70]:
mixed_tuple = (1,3.14,'raman')
concat = numbers + mixed_tuple
concat

(1, 2, 3, 4, 5, 6, 1, 3.14, 'raman')

In [75]:
mixed_tuple = mixed_tuple*3

In [76]:
mixed_tuple

(1, 3.14, 'raman', 1, 3.14, 'raman', 1, 3.14, 'raman')

In [77]:
print(mixed_tuple.count(3.14))

3

In [78]:
print(mixed_tuple.index(3.14))

1

In [79]:
packed_tuple = 1,2,3
packed_tuple

(1, 2, 3)

In [80]:
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
2
3

In [81]:
# Unpacking with *
numbers = 1,2,3,4,5,6
numbers

(1, 2, 3, 4, 5, 6)

In [83]:
a, *b = numbers
print(a)
print(b)

1
[2, 3, 4, 5, 6]