# Functions Basics

In [4]:
# Defining a simple function
def even_or_odd(num):
    '''Hey this function perform if a number is even or odd'''
    if num % 2 == 0:
        print(f'{num} is even')
    else:
        print(f'{num} is odd')
even_or_odd(12)

12 is even

In [6]:
# Default parameter
def greet(name="Raman"):
    print(f'Good Morning {name}')
greet()
greet("Madhu")

Good Morning Raman
Good Morning Madhu

In [8]:
# Postional and keyword args
def funct(name,*args,city="Delhi"):
    print(name)
    for x in args:
        print(x)
    print(city)

funct("Sumit","Maths","Science")

Sumit
Maths
Science
Delhi

In [11]:
# All 4 argumrnts
def student(name,age,course="Unknown",*skills,**details):
    print(name)
    print(age)
    print(course)
    print(skills)
    print(details)
    for item in skills:
        print(item)
    for key,value in details.items():
        print(f'{key}->{value}')

student(
    "Raman",
    28,
    "Gen AI",
    "Python","NLP","LLM",
    posting='Gaduly',post='dfo'
)

Raman
28
Gen AI
('Python', 'NLP', 'LLM')
{'posting': 'Gaduly', 'post': 'dfo'}
Python
NLP
LLM
posting->Gaduly
post->dfo

# Lambda Function

In [12]:

#Simple addition
addition = lambda a,b:a+b
addition(2,3)

5

In [14]:
# Simple Even Odd
even_or_odd = lambda a : (a%2==0)
even_or_odd(15)

False

In [15]:
# Multiple arguments
addition = lambda x,y,z : x+y+z
addition(12,1,1)

14

In [19]:
# Map
li = [1,2,3,4,5]
print(list(map(lambda x : x**2,li)))
def square(x):
    return x*10
list(map(square,li))

[1, 4, 9, 16, 25]

[10, 20, 30, 40, 50]

In [20]:
# Multiple iterables
li1 = [1,2,3,4]
li2 = [2,3,4,5]
list(map(lambda x,y : x+y,li1,li2))

[3, 5, 7, 9]

In [21]:
# Convert a list of string to list of inegers
str_numbers = ['1','2','3','4','5']
list(map(int,str_numbers))

[1, 2, 3, 4, 5]

In [22]:
# Do Upper case in  list of words 
words=['apple','banana','cherry']
list(map(str.upper,words))

['APPLE', 'BANANA', 'CHERRY']

In [25]:
# List of dictionary 
def get_name(person):
    return person['name']
dict1 = {'name':'Aman','age':24}
print(get_name(dict1))
li_of_dict = [
    {'name':'Aman','age':24},
    {'name':'Raman','age':28},
    {'name':'Madhu','age':32}
]
list(map(get_name,li_of_dict))

Aman

['Aman', 'Raman', 'Madhu']

# Filter

In [26]:
# Basic example
def even(num):
    if num % 2 == 0:
        return True
li = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,li))

[2, 4, 6, 8, 10]

In [27]:
# Map And Filter
list(filter(lambda x:x%2==0 , li))

[2, 4, 6, 8, 10]

In [28]:
# Even and greater then Five
list(filter(lambda x : x%2==0 and x>5 , li))

[6, 8, 10]

In [38]:
# Apply filter to check age is greater than 18 in dictionary
li = [
    {'name':'Raman','age':28},
    {'name':'Aman','age':16},
    {'name':'Madhu','age':32},
    {'name':'Yashica','age':26},
    {'name':'Shruti','age':8}
]
list(map(lambda p:p['name'],(filter(lambda p : p['age']>18,li))))

['Raman', 'Madhu', 'Yashica']