# Sets

In [1]:
# create a set
s = set()
print(type(s))

<class 'set'>

In [4]:
s2 = set([1,2,2,3,4,5,5,6])
s2

{1, 2, 3, 4, 5, 6}

In [5]:
my_set = s2
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 6, 7}

In [6]:
# Remove the elements from set
my_set.remove(5)
my_set

{1, 2, 3, 4, 6, 7}

In [9]:
print(my_set.discard(190))
print(my_set.discard(1))
my_set

None
None

{2, 3, 4, 6, 7}

In [10]:
# Pop method and clear method
print(my_set.pop())

2

In [13]:
my_set.clear()
my_set

set()

In [14]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
print(set1.intersection(set2))

{4, 5, 6}

In [16]:
print(set1.difference(set2))

{1, 2, 3}

In [17]:
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [19]:
# Count Number of words
text = "In this this this tutorial we are discussing about sets"
words = text.split()
words

['In',
 'this',
 'this',
 'this',
 'tutorial',
 'we',
 'are',
 'discussing',
 'about',
 'sets']

In [20]:
words = set(words)
words

{'In', 'about', 'are', 'discussing', 'sets', 'this', 'tutorial', 'we'}

In [21]:
len(words)

8

# Dictionary

In [22]:
empty_dict = {}
print(empty_dict)

{}

In [23]:
student = {"name":"raman","age":28,"grade":'A'}
print(student['grade'])

A

In [24]:
print(student.get('grade'))

A

In [25]:
print(student.get('krish','Not_Avaliable'))

Not_Avaliable

In [26]:
student['school'] = 'jnv'
student

{'name': 'raman', 'age': 28, 'grade': 'A', 'school': 'jnv'}

In [27]:
del student['name']

In [28]:
student

{'age': 28, 'grade': 'A', 'school': 'jnv'}

In [29]:
key = student.keys()
print(key)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['age', 'grade', 'school'])
dict_values([28, 'A', 'jnv'])
dict_items([('age', 28), ('grade', 'A'), ('school', 'jnv')])

In [34]:
# Shallow copy of dictionary
dict1 = {'1':2,'2':3,'3':4}
dict2 = dict1
dict3 = dict1.copy()
print(dict2)
print(dict3)

{'1': 2, '2': 3, '3': 4}
{'1': 2, '2': 3, '3': 4}

In [35]:
dict1['2']=100
dict1

{'1': 2, '2': 100, '3': 4}

In [36]:
print(dict2)
print(dict3)

{'1': 2, '2': 100, '3': 4}
{'1': 2, '2': 3, '3': 4}